<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <style type='text/css'>
      .loading {
        font-style: italic;
      }
      .loading:after {
        content: "...loading..."
      }
      a {
          max-width: 200px;
          display: inline-block;
          white-space: nowrap;
          text-overflow: ellipsis;
          vertical-align: bottom;
          overflow: hidden;
      }
      ul {
        list-style-type: none;
        padding-left: 10px;
      }
      li {
        margin-bottom: 1em;
      }
      .name {
        color: green;
      }
      .data {
        font-family: monospace;
      }
      .key {
        color: #999;
      }
      .value{
        color: #333;
      }
      .error {
        color: red;
      }
      .results-count {
        font-weight: bold;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <script type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
