{% extends "base.html" %}
{% block title %}Search for People in Prison{% endblock %}
{% block body %}
    <form method='GET' action='/search/'>
      <input type='text' name='first_name' placeholder='First name'>
      <input type='text' name='last_name' placeholder='Last name'>
      <input type='text' name='number' placeholder='Prisoner ID number'>
      <p>
        <label><input name='state' value='california' type='checkbox' checked='checked'>California </label>
        <label><input name='state' value='newyork' type='checkbox' checked='checked'>New York </label>
        <label><input name='state' value='texas' type='checkbox' checked='checked'>Texas</label>
        <label><input name='state' value='florida' type='checkbox' checked='checked'>Florida</label>
        <label><input name='state' value='federal' type='checkbox' checked='checked'>Federal</label>
      </p>
      <input type='submit' value='Search'>
    </form>

    <ul class='results'>
    </ul>

{% endblock %}
{% block scripts %}
<script type='text/javascript'>

if (typeof console === "undefined") { console = {}; }
if (!console.log) { console.log = function() {}; }

var MINIMA = {
  'california': [["last_name"], ["number"]],
  'texas': [["last_name", "first_name"], ["number"]],
  'federal': [["last_name", "first_name"], ["number"]],
  'newyork': [["last_name", "first_name"], ["number"]],
}
function getState(state) {
  return {"newyork": "New York"}[state] || state

}
function search(states, criteria) {
  $(".results").html("");
  _.each(states, function(state) {
    var data = _.extend({state: state}, criteria);
    var li = $("<li class='state loading'></li>");
    li.html("<h2>" + toTitleCase(getState(state)) + "</h2><ul class='people'></ul>");
    $(".results").append(li);
    $.ajax({
      url: "/search/",
      data: data,
      type: "GET",
      success: function(data) {
        li.removeClass("loading");
        $(".people", li).before(
          "<div class='results-count'>" + data.results.length + " result" + (data.results.length != 1 ? "s" : "") + " <a href='" + data.url + "'>(Source)</a></div>"
        );
        for (var i = 0; i < data.results.length; i++) {
          $(".people", li).append("<li>" + jsonToHTML(data.results[i]) + "</li>");
        }
        if (data.errors) {
          $(".people", li).append("<li class='error'>" + jsonToHTML(data.errors) + "</li>");
        }
      },
      error: function(data) {
        li.removeClass("loading");
        li.addClass("error");
        $(".people", li).html("<li>" + jsonToHTML(data) + "</li>");
      }
    });
  });
}
function jsonToHTML(obj) {
  console.log(obj);
  var text = [];
  var visited = [];
  if (obj.name) {
    text.push("<div class='name'>" + toTitleCase(commify(_.escape(obj.name))) + "</div>");
    visited.push("name");
  } else if (obj.url) {
    text.push("<b>URL</b>: " + _.escape(obj.url));
    visited.push("url");
  }
  if (obj.address) {
    obj.address = JSON.stringify(obj.address)
  }
  var keys = _.keys(obj);
  keys.sort();
  _.each(keys, function(key) {
    if (!_.contains(visited, key)) {
      text.push("<div class='data'><span class='key'>" + toTitleCase(_.escape(key)) + ":</span> <span class='value'>" + _.escape(obj[key]).autoLink() + "</span></div>");
    }
  });
  return text.join("");
}

function testMinima(state, criteria) {
  var minima = MINIMA[state];
  if (!minima) {
    return true;
  }
  var minimum;
  for (var i = 0; i < minima.length; i++) {
    minimum = minima[i];
    if (_.every(_.map(minimum, function(m) { return criteria[m]; }))) {
      return true;
    }
  }
  return false;
}
function commify(str) {
  // add a space between comma-separated words without them.
  return str.replace(/(\w),(\w)/g, "$1, $2");
}
function toTitleCase(str) {
  str = str.replace(/_/g, " ");
  return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
}


function explainMinima(state) {
  var options = _.map(MINIMA[state], function(minima) {
      return _.map(minima, function(m) { return toTitleCase(m); }).join(" AND ")
  });
  return options.join(", or ");
}

// Handle form submission and validation
$("form").submit(function(event) {
  event.preventDefault();
  var states = [];
  $("[name=state]").each(function(i, el) {
    if ($(el).is(":checked")) {
      states.push($(el).val());
    }
  });
  if (states.length == 0) {
    alert("Please select at least one state.");
    return
  }
  var criteria = {
    "first_name": $("[name=first_name]").val(),
    "last_name": $("[name=last_name]").val(),
    "number": $("[name=number]").val()
  };

  for (var i = 0; i < states.length; i++) {
    if (!testMinima(states[i], criteria)) {
      alert(toTitleCase(states[i]) + " requires: " + explainMinima(states[i]));
      return;
    }
  }

  // build a querystring for pushstate.
  var qstring = [];
  _.each(criteria, function(val, key) {
      if (val) {
        qstring.push(key + "=" + encodeURIComponent(val));
      }
  });
  _.each(states, function(state) {
      qstring.push("state=" + encodeURIComponent(state));
  });
  var built = "?" + qstring.join("&");
  if (built != location.search) {
    window.history.pushState({module:"search"},
        _.values(criteria).concat(states).join(" "),
        built);
  }
  search(states, criteria);
});

// from https://github.com/bryanwoods/autolink-js/blob/master/autolink.js
// Generated by CoffeeScript 1.7.1
(function() {
  var autoLink,
    __slice = [].slice;

  autoLink = function() {
    var k, linkAttributes, option, options, pattern, v;
    options = 1 <= arguments.length ? __slice.call(arguments, 0) : [];

    pattern = /(^|[\s\n]|<br\/?>)((?:https?|ftp):\/\/[\-A-Z0-9+\u0026\u2019@#\/%?=()~_|!:,.;]*[\-A-Z0-9+\u0026@#\/%=~()_|])/gi;
    if (!(options.length > 0)) {
      return this.replace(pattern, "$1<a href='$2'>$2</a>");
    }
    option = options[0];
    linkAttributes = ((function() {
      var _results;
      _results = [];
      for (k in option) {
        v = option[k];
        if (k !== 'callback') {
          _results.push(" " + k + "='" + v + "'");
        }
      }
      return _results;
    })()).join('');
    return this.replace(pattern, function(match, space, url) {
      var link;
      link = (typeof option.callback === "function" ? option.callback(url) : void 0) || ("<a href='" + url + "'" + linkAttributes + ">" + url + "</a>");
      return "" + space + link;
    });
  };

  String.prototype['autoLink'] = autoLink;
}).call(this);

// Read querystring vars on first run.
function parseQuerystring(qstring) {
  var qstring = qstring.substring(1); // remove initial "?"
  var vars = {};
  function parse(arg) {
    if (arg) {
      return decodeURIComponent(arg.replace(/\+/g, " "));
    }
    return "";
  }
  _.each(qstring.split("&"), function(kv) {
    var arr = kv.split("=");
    var key = parse(arr[0]);
    var val = parse(arr[1]);
    if (!vars[key]) {
      vars[key] = [];
    }
    vars[key].push(val);
  });
  if (vars.state) {
    $("[name=state]").prop("checked", false);
  }
  _.each(vars.state || [], function(state) {
    $("[name=state][value=" + state + "]").prop("checked", true);
  });
  _.each(["first_name", "last_name", "number"], function(key) {
    if (vars[key]) {
      $("[name=" + key + "]").val(vars[key][0]);
    }
  });
  if (_.size(vars) > 0) {
    $("form").submit();
  }
}
$(window).bind("popstate", function(evt) {
    var state = evt.originalEvent.state;
    if (state && state.module === "search") {
      parseQuerystring(location.search);
    }
});
if (location.search) {
  parseQuerystring(location.search);
}

</script>
{% endblock %}
